<script abp-src="/view-resources/Areas/AppArea/Views/_Bundles/widget-charts.js" asp-append-version="true"></script>

@* <div class="card card-custom MerchantBillsSummaryContainer h-100">
    <div class="card-header align-items-center border-0 mt-4">
        <h3 class="card-title align-items-start flex-column">
            <span class="fw-bolder text-dark">@L("MerchantBillsSummary")</span>
        </h3>
        <div class="card-toolbar">
            <div class="btn-group" data-toggle="buttons">
                <label class="btn m-btn--pill btn-secondary active">
                    <input type="radio" name="MerchantBillsSummaryDateInterval" autocomplete="off" checked="" value="1">
                    @L("Daily")
                </label>
                <label class="btn m-btn--pill btn-secondary">
                    <input type="radio" name="MerchantBillsSummaryDateInterval" autocomplete="off" value="2">
                     @L("Weekly")
                </label>
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-12" style="height: 260px;">
                <div id="MerchantBillsStatisticsLoading" style="text-align: center;">
                    <div class="kt-blockui" style="display: inline-block; margin-top: 120px;">
                        <span>Loading...</span>
                        <span>
                            <div class="loader loader-brand "></div>
                        </span>
                    </div>
                </div>
                <canvas id="MerchantBillsStatistics" height="100px"></canvas>
            </div>
        </div>
    </div>
</div> *@
