@using Neptune.NsPay.Web.Areas.AppArea.Models.Layout
@using Neptune.NsPay.Web.Areas.AppArea.Views.Shared.Components.AppAreaLogo
@model HeaderViewModel
@{
    Layout = null;
}
<a href="@Url.Action("Index", "Home", new {area = string.Empty})">
    @await Component.InvokeAsync(typeof(AppAreaLogoViewComponent), new
    {
        logoSkin = "dark-sm", 
        logoClass = "h-55px"
    })
</a>
