<?xml version="1.0" ?>


<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <targets>

    <!--Debugger保存至文件-->
    <target name="debug_file" xsi:type="File" maxArchiveFiles="30"
            fileName="${basedir}/log/debug.log"
            archiveFileName="${basedir}/log/debug.{#}.log"
            encoding="utf-8" archiveEvery="Day"
            archiveNumbering="DateAndSequence" archiveDateFormat="yyyy-MM-dd" archiveAboveSize="20971520"
            layout="${longdate} | pid：	${processid} - ${threadid} |${level:uppercase=false:padding=-5} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />

    <!--Debugger保存至文件-->
    <target name="Warn_file" xsi:type="File" maxArchiveFiles="30"
            fileName="${basedir}/log/warn.log"
            archiveFileName="${basedir}/log/Warn.{#}.log"
            encoding="utf-8" archiveEvery="Day"
            archiveNumbering="DateAndSequence" archiveDateFormat="yyyy-MM-dd" archiveAboveSize="20971520"
            layout="${longdate} | pid：	${processid} - ${threadid} |${level:uppercase=false:padding=-5} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />

    <!--Info保存至文件-->
    <target name="Info_file" xsi:type="File" maxArchiveFiles="30"
            fileName="${basedir}/log/info.log"
            archiveFileName="${basedir}/log/info.{#}.log"
             encoding="utf-8" archiveEvery="Day"
            archiveNumbering="DateAndSequence" archiveDateFormat="yyyy-MM-dd" archiveAboveSize="20971520"
            layout="${longdate}| pid：	${processid} - ${threadid} | ${level:uppercase=false:padding=-5} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />


    <!--Error保存至文件-->
    <target name="error_file" xsi:type="File" maxArchiveFiles="30"
            fileName="${basedir}/log/error.log"
            archiveFileName="${basedir}/log/error.{#}.log"
            encoding="utf-8" archiveEvery="Day"
            archiveNumbering="DateAndSequence" archiveDateFormat="yyyy-MM-dd" archiveAboveSize="20971520"
            layout="${newline}date：	${date} ${processid} - ${threadid} ${newline}level：	${level}${newline}logger：	${logger}${newline}machinename：	${machinename}
            ${newline}message：	${message}${newline}appdomain：	${appdomain}${newline}assembly-version：	${assembly-version}${newline}basedir：	${basedir}
            ${newline}callsite：	${callsite}${newline}callsite-linenumber：	${callsite-linenumber}${newline}counter：	${counter}${newline}nlogdir：	${nlogdir}
            ${newline}pid：	${processid}${newline}processname：	${processname}${newline}specialfolder：	${specialfolder}
            ${newline}onexception: ${exception:format=ToString}
            ${newline} ${stacktrace} 
            ${newline}-----------------------------------------------------------" />

    <!--InfoFailure-->
    <target name="fatal_file" xsi:type="File" maxArchiveFiles="30"
            fileName="${basedir}/log/fatal.log"
            archiveFileName="${basedir}/log/fatal.{#}.log"
            encoding="utf-8" archiveEvery="Day"
            archiveNumbering="DateAndSequence" archiveDateFormat="yyyy-MM-dd" archiveAboveSize="20971520"
            layout="${longdate}| pid：	${processid} - ${threadid} | ${level:uppercase=false:padding=-5} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />


  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="debug_file" />
    <logger name="*" minlevel="Info" maxlevel="Info"  writeTo="Info_file" />
    <logger name="*" minlevel="Error" maxlevel="Error" writeTo="error_file" />
    <logger name="*" minlevel="Fatal" maxlevel="Fatal" writeTo="fatal_file" />
    <logger name="*" minlevel="Warn" maxlevel="Warn" writeTo="Warn_file" />
  </rules>
</nlog>