@using Abp.AspNetZeroCore.Timing
@using Abp.Web.Security.AntiForgery
@using Neptune.NsPay.UiCustomization.Dto
@using CultureHelper = Neptune.NsPay.Localization.CultureHelper
@model Neptune.NsPay.Web.Models.Install.InstallViewModel
@inject AppTimes AppTimes
@inject IAbpAntiForgeryManager AbpAntiForgeryManager
@{
    Layout = null;
    AbpAntiForgeryManager.SetCookie(Context);
    UiCustomizationSettingsDto theme = await GetTheme();
}
<!DOCTYPE html>
<html lang="en" dir=@(CultureHelper.IsRtl ? "rtl" : "")>
<head>
    <title>NsPay Installation</title>

    <link rel="shortcut icon" href="~/favicon.ico"/>

    <link rel="stylesheet" abp-href="/view-resources/Areas/AppArea/Views/_Bundles/vendors.bundle.css" />
    <link rel="stylesheet" href="/metronic/themes/default/css/style.bundle.css" />
    <link rel="stylesheet" abp-href="/view-resources/Areas/AppArea/Views/_Bundles/app-layout-libs.css" />
    <link rel="stylesheet" abp-href="/view-resources/Areas/AppArea/Views/_Bundles/common-styles.css" />

    @if (CultureHelper.IsRtl)
    {
        <link rel="stylesheet" href="/Common/Styles/abp-zero-template-rtl.css" />
    }

    <link rel="stylesheet" abp-href="/view-resources/Views/Install/Index.css" />
</head>
<body class="page-fixed header-static">
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="@(await GetContainerClass())">
        <div class="card">
            <div class="card-body">
                Restarting application...
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
        document.location = '/';
    </script>
</body>
</html>
